<%= form_with(model: tweet, method: :post) do |f| %>
  <%= error_for(tweet, :body) %>
  <div>
    <%= f.text_area :body, placeholder: "Write your tweet here...", autofocus: true%>
  </div>
<% end %>