<%= form_with(model: tweet, method: :post,class:"form__tweet") do |f| %>
  <%= error_for(tweet, :body) %>
  <div class="field mb-4">
    <div class="input__container form__tweet--container ">
      <%= f.text_area :body, placeholder: "Remember to thing before write...", autofocus: true ,  class: "input__content form__tweet--area" %>
      <%= f.submit "TWEET",class: "button button--primary" %>
    </div>
  </div>

<% end %>