.footer {
  margin:30px 0;
  margin-top:40px
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.footer__students{
  width: 100%;
  display:flex;
  flex-direction:row;
  justify-content:space-around
}

.footer__students--link{
  display:flex;
  align-items:center
}

.footer__students--icon{
  width:15px;
  margin-right: 5px;
}

footer a {
  color: var(--secondary-500);
  text-decoration: none;
}