.header {
  position: relative;
}

.logo {
  width: 150px;
}

.menu-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.dropdown-button {
  cursor: pointer;
}

.dropdown-icon {
  height: 2em;
  display: none;
}

.dropdown-icon.active {
  display: block;
}

.dropdown-menu {
  padding: 1rem;
  margin-bottom: 20px;
  display: none;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  align-items: center;
  flex-wrap: wrap;
  border: 3px solid #d3d3d3;
}

.dropdown-active-menu {
  display: flex;
}
